
# Class constructors
export(viewerData,
       viewerDataFrame,
       viewerDataText,
       viewerDataMySQL,
       
       viewerDevice,
       viewerDeviceVp,
       
       simpleViewer,
       
       tcltkViewer)

# Navigation (generic) functions
export(draw,
       lrscroll, lrhome, lrend,
       lrshrink, lrgrow,
       udscroll, udhome, udend,
       udshrink, udgrow)
       
importFrom(grid, drawDetails)
S3method("drawDetails", "ViewerDataGrob")

